@font-face {
  font-family: "pixelFont";
  src: url("assets/font/joystixMonospace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000094;
  background-image: url("assets/png/background/bright/mainBackground.png");
  background-repeat: no-repeat;
  height: 100svh;
  margin: 0;
  background-size: cover;
  background-position: center;
  font-family: "pixelFont", Arial, Helvetica, sans-serif;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/png/background/startScreen/startScreen.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 405px;
  width: 720px;
}

h1 {
  font-size: 64px;
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
}

p {
  font-size: 19px;
}

canvas {
  background-color: black;
  display: block;
  width: 95vw;
  height: 95svh;
}

button {
  cursor: pointer;
  font-family: "pixelFont";
  color: white;
  border: none;
  height: 34px;
  width: 120px;
  box-shadow: -3px 0 0 0 black, 3px 0 0 0 black, 0 -3px 0 0 black,
    0 3px 0 0 black;
  background-image: url("assets/png/assets/button.png");
  background-size: contain;
  background-repeat: no-repeat;
}

a {
  margin: auto;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.controls-button {
  top: 16px;
  right: 16px;
}

.music-button-on,
.music-button-off {
  top: 16px;
  right: 150px;
}

.left-button {
  bottom: 16px;
  left: 16px;
  background-image: url("assets/png/assets/moveLeftButton.png");
}

.right-button {
  bottom: 16px;
  left: 150px;
  background-image: url("assets/png/assets/moveRightButton.png");
}

.spell-button {
  bottom: 16px;
  right: 150px;
  background-image: url("assets/png/assets/spellButton.png");
}

.sword-button {
  bottom: 96px;
  right: 16px;
  background-image: url("assets/png/assets/swordButton.png");
}

.jump-button {
  bottom: 16px;
  right: 56px;
  background-image: url("assets/png/assets/jumpButton.png");
}

.mobile-button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #834d469c;
}

.mobile-button:active {
  background-color: #834d46;
}

.control-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.272);
  height: 100vh;
  width: 100vw;
}

.control-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

table {
  width: 720px;
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
}

th {
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  background-color: white;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  background-color: white;
}

.landscape-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  display: none;
}

.home-button{
  margin-top: 16px;
}

.legal-notice {
  height: 100vh;
  padding-inline: 16px;
  background-color: rgba(255, 255, 255, 0.452);
  overflow-y: auto;
}

.legal-notice-h1 {
  font-size: 40px;
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
}

.d-none {
  display: none;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

@media only screen and (min-width: 1440px) {
  canvas {
    width: 60vw;
    height: 60svh;
  }
}

@media only screen and (max-width: 1024px) {
  canvas {
    width: 100vw;
    height: 100svh;
  }

  .landscape-warning {
    display: flex;
  }
}

@media only screen and (max-width: 932px) {
  h1 {
    font-size: 56px;
  }

  .start-screen {
    width: 100vw;
    height: 100svh;
    background-size: cover;
  }
}

@media only screen and (max-width: 400px) {
  .legal-notice-h1 {
    font-size: 24px;
  }

  .legal-notice-h2 {
    font-size: 19px;
  }

  .legal-notice {
    font-size: 13px;
  }
}
